{% extends 'base.html' %}
{% block content%}

<h1>{{ post.subject }}</h1>
<img src="{{post.img_path}}">
<div>
    {{post.content}}
</div>
<div>
    <ul>
        <li>책이름 : &nbsp {{book.name}}</li>
        <li>저자 : &nbsp {{book.author}}</li>
        <li>전공 : &nbsp {{book.department}}</li>
        <li>가격 : &nbsp {{book.price}}</li>
        <li>택배여부 : &nbsp{{post.isparcel}}</li>
    </ul>
</div>

<h5>{{post.reply_set|length}}개의 댓글</h5>
<div>
    <ul>
        {% for reply in post.reply_set %}
        <li>{{reply.content}}
            <span>작성자 : &nbsp {{reply.user.username}}</span>
        </li>
        {%endfor%}
    </ul>
</div>

<form action="{{url_for('reply.create',post_id=post.id)}}" method="post">
    <textarea name="content" id="content" rows="15"></textarea>
    <input type="submit" value="답변등록">
</form>

{%endblock%}