{% extends 'base.html' %}
{% block content%}
<div class="d-flex justify-content-center">
    <div class="card" style="width:30em; height:20em; top:100px;">
        <div class="card-body">
        <form method="post" >
            {{ form.csrf_token }}
            {% include "form_errors.html" %}
            <div class="mb-3">
                <h2 class="mb-4">로그인</h2>
                <label for="username">사용자이름</label>
                <input class='form-control' type="text" name="username" id="username" value="{{ form.username.data or ''}}" required>
            </div>
            <div class="mb-3">
                <label for="password">비밀번호</label>
                <input class='form-control' type="password" name="password" id="password" value="{{ form.password.data or ''}}" required>
            </div>
            <div class="d-grid gap-2 mt-5">
                <button class='btn btn-primary'type="submit"><span>로그인</span></button>
            </div>
        </form>
        </div>
    </div>
</div>
{%endblock%}
