{% extends 'base.html' %}
{% block content%}
<div class="d-flex justify-content-center">
    <div class="card">
<nav>
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Home</button>
    <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Profile</button>
    <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">Contact</button>
  </div>
</nav>
<div class="tab-content" id="nav-tabContent">
  <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab" tabindex="0">
    <div class="card mt-3" style="width:50em; height:30em;" >
        <h3 class="mt-3 ms-3"><b>작성글목록</b></h3>
    {%if post_list[0]%}
    {%for i in range(5)%}
    {%if post_list[i]%}
        <div class="card-body">
            <a href="{{ url_for('post.detail', post_id=post_list[i].id)}}" class="text-decoration-none text-black">
                <p>{{post_list[i].subject}}</p>
                <p>{{post_list[i].create_date.year}}/{{post_list[i].create_date.month}}/{{post_list[i].create_date.day}}</p>
            </a>
            {%for reply in post_list[i].reply_set%}
            <a href="{{url_for('mypage.reply', reply_id=reply.id)}}">
                <p>{{reply.content}}id:{{reply.id}}</p>

            </a>
            {%endfor%}
        </div>
    {%endif%}
    {%endfor%}
    <button class="btn btn-primary">더보기</button>
    {%else%}
        <p>no content</p>
    {%endif%}
    </div>
  </div>


  <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab" tabindex="0">
        <div class="card mt-3" style="width:50em; height:30em;" >
        <h3 class="mt-3 ms-3"><b>reply</b></h3>
    {%for reply in reply_list%}
    <div class="card-body">
        <a href="{{url_for('mypage.reply', reply_id=reply.id)}}" class="text-decoration-none text-black">
            <p>{{reply.content}}</p>
            <p>{{reply.create_date}}</p>
        </a>
    </div>
    {%endfor%}
</div>
  </div>



  <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab" tabindex="0">

  </div>
</div>
</div>
</div>
{% endblock %}
